/* Empty. Add your own CSS if you like */
.mission-item-label{
    display: block;
    color:rgba(17, 17, 17, 0.4);
    font-size: 14px;
    line-height: 16px;
    height: 34px;
    padding-left: 0px;
    padding-top: 8px;
    padding-right: 24px;
    border: 0;
    width: 100%;
}

input:invalid {
   color:#7A3333;
  }
  
  input:valid {
    color:#0000;
  }